<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Student Dashboard</h1>
    <a href="/add">Add Student</a>
    <table>
        <tr>
             <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>gender</th>
            <th>dob</th>
            <th>year_of_admn</th>
            <th>address</th>
            <th>phoneno</th>
            
            <th>email</th>
            
        </tr>
            
        </tr>
        {% for student in student %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.dob }}</td>
                <td>{{ student.year_of_admn }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.phoneno }}</td>
                <td>{{ student.email }}</td>
                
                <td> 
                    <a href="/edit/{{ student.id }}">Edit</a>
                    <a href="/delete/{{ student.id }}">Delete</a>
                </td> 
            </tr>
        {% endfor %} 
    </table>
     <form action="{{ url_for('logout') }}" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>